//================ LOGO =====================

.logo {
  font-family: "PT Serif", serif;
  font-size: 4rem;
  line-height: 1.2;
  text-transform: uppercase;
}

//================ MENU =====================

.menu {
  &__list {
    display: flex;
    gap: 5rem;
  }

  &__link {
    transition: all .3s ease;
    display: inline-block;
  }
}

.burger-menu-btn {
  display: none;
  border: none;
  background-color: transparent;
  width: 3rem;
  height: 2rem;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  z-index: 5;
  cursor: pointer;
  z-index: 9999;

  span {
    display: inline-block;
    width: 100%;
    height: 2px;
    // background-color: $btnBgColor;

  }
}

//================ SOCIAL =====================

.social {
  &__list {
    display: flex;
    gap: 0.8rem;
  }

  &__link {
    inline-size: 4.8rem;
    block-size: 4.8rem;
    border-radius: 50%;
    border: 1px solid rgba($colorWhite, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;

    svg {
      transition: transform .2s ease-in;
    }
  }
}


//================ BUTTON =====================

.button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1.2rem 3.5rem;
  font-size: 1.8rem;
  line-height: 1.33;
  cursor: pointer;
  justify-self: center;
  border-radius: .3rem;
  transition: all .2s ease-in;

  &.btn-fill {
    background-color: $colorPurple;
    margin-inline-end: 3rem;
  }

  &.btn-transparent {
    border-color: rgba($colorWhite, .3);
  }

  &.btn-fill:hover {
    border-color: rgba($colorWhite, .3);
    background-color: transparent;
  }

  &.btn-transparent:hover {
    border-color: transparent;
    background-color: $colorPurple;
  }
}

//================ SCROLL DOWN BUTTON =====================

.scroll-down {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  inline-size: 4.8rem;
  block-size: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba($colorWhite, .3);
  background-color: transparent;
  cursor: pointer;
  
  img {
    animation-name: bounce;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

//================ FORM =====================

.form {
  padding: 70px 40px;
  background-color: #fff;
  box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.30);
  margin-top: 110px;

  &__title {
    font-size: 25px;
    font-family: "Yeseva One", serif;
    text-align: center;
    margin-bottom: 50px;
  }

  &__email {
    margin-bottom: 50px;
  }

  input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    // color: $btnColor;
    padding: 0 10px;
    font-size: 16px;

    &::placeholder {
      // color: $placeholderColor;
      letter-spacing: 1px;
    }

    &:focus {
      // outline: 1px solid rgba($btnBgColor, .3);
    }
  }
}

//================ ACCORDEON =====================

.accordeon {
  &__item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__title {
    padding: 16px 53px 16px 13px;
    font-size: 16px;
    font-family: "Yeseva One", serif;
    background-color: #fff;
    position: relative;
    // box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.30);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url(../images/src/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: center center;
      right: 16px;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      transition: transform .3s;
    }
  }

  &__text {
    background-color: #fff;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
  }

  &__list {
    list-style: decimal;
    padding: 0 6px 12px 20px;
  }
}

.accordeon__title.accordeon__title--active::after {
  transform: translateY(-50%) rotate(180deg);
}