.events {
  padding: 10.4rem 0 14.4rem;
  background-color: $colorBgDark;

  &__subtitle {
    margin-block-end: 0.3rem;
    color: $colorWhite;
  }

  &__title {
    margin-block-end: 5.3rem;
    color: $colorWhite;
  }

  &__slider {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      inline-size: 4.8rem;
      block-size: 4.8rem;
      border: solid 1px rgba($colorWhite, .3);
      border-radius: 50%;
      z-index: 1;
      transform: translateY(-50%);
      top: 50%;
      left: 3.2rem;
      background-image: url(../images/arrow-left.svg);
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    &::before {
      background-image: url(../images/rigth-arrow.svg);
      border-color: rgba($colorBgDark, .3);
      right: 3.2rem;
      left: auto;
    }

    &-wrapper {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -4.8rem;
        right: -4.8rem;
        inline-size: 17.6rem;
        block-size: 17.6rem;
        background-image: url(../images/hero-shape.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &-img {
      img {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        overflow: hidden;
      }
    }

    &-item {
      display: flex;
    }

    &-content {
      background-color: $colorWhite;
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;
      padding: 7.3rem 16.4rem 3rem 6.6rem;
    }

    &-title {
      font-size: 4rem;
      line-height: 1.2;
      font-family: "PT Serif", serif;
      font-weight: 700;
      margin-block-end: 0.6rem;
    }

    &-date {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.715;
      color: rgba($colorBgDark, .5);
      margin-block-end: 1.8rem;
    }

    &-text {
      margin-block-end: 4rem;
      text-align: justify;
    }
  }
}