html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $colorBgLight;
  color: $colorBgDark;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
  // overflow: hidden;
}

main {
  overflow-x: clip;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.container {
  max-width: 117rem;
  padding-inline: 1.5rem;
  margin: 0 auto;
}

.centered {
  text-align: center;
}