.history {
  padding: 16rem;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13rem;
  }

  &__image {
    &-wrapper {
      position: relative;

      img {
        border-radius: .3rem;
        overflow: hidden;
      }

      &::after {
        position: absolute;
        content: "";
        inline-size: 17.6rem;
        block-size: 17.6rem;
        background-image: url(../images/history-shape.svg);
        background-position: center center;
        top: 6.5rem;
        right: -4.8rem;
      }
    }

    &-dishes {
      position: absolute;
      inline-size: 17rem;
      block-size: 17rem;
      border-radius: .3rem;
      background: $colorBiez;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 5.4rem;
      left: -4.8rem;

      &::before {
        position: absolute;
        content: "";
        inline-size: 11.2rem;
        block-size: 11.2rem;
        border-radius: 50%;
        border: 1px solid $colorWhite;
        background-image: url(../images/dishes.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__title {
    margin-block-end: 1.4rem;
  }

  &__text {
    margin-block-end: 2.3rem;
  }
}