.history {
  padding: 16rem;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13rem;
  }

  &__image {
    &-wrapper {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        inline-size: 17.6rem;
        block-size: 17.6rem;
        background-image: url(../images/history-shape.svg);
        background-position: center center;
        top: 6.5rem;
        right: -4.8rem;
      }
    }

    &-dishes {
      &::before {
        background-image: url(../images/dishes.svg);
      }
    }
  }

  &__title {
    margin-block-end: 1.4rem;
  }

  &__text {
    margin-block-end: 2.3rem;
  }
}