$colorWhite: #fff;
$colorBlack: #000;
$colorPurple: #6327EB;
$colorBiez: #BBA285;
$colorLightGrey: #EAEAEA;

$colorBgLight: #F9F7F2;
$colorBgDark: #333333;

$colorFacebook: #1877F2;
$colorInstagram: #c13584;
$colorTwitter: #1DA1F2;