  <section class="chef">
    <div class="container">
      <div class="chef__wrapper">
        <div class="chef__image side-image__wrapper">
          <img src="images/chef.webp" alt="Chef photo">
          <div class="chef__side-image side-image"></div>
        </div>
        <div class="chef__content">
          <h3 class="chef__subtitle subtitle">The word from</h3>
          <h2 class="chef__title title">Our Chef</h2>
          <p class="chef__text">
            "A peep at some distant orb has power to raise and purify our thoughts like a strain of sacred music, or a noble picture, or a passage from the grander poets. It always does one good."
          </p>
          <div class="chef__name">Slavcho Karbashewski</div>
          <div class="chef__descr">Head Chef</div>
        </div>
      </div>
    </div>
  </section>