  <section class="events">
    <div class="container">
      <h3 class="events__subtitle subtitle centered">Party with us!</h3>
      <h2 class="events__title title centered">Upcoming Events</h2>
      <div class="events__slider">
        <div class="events__slider-wrapper">
          <div class="events__slider-item">
            <div class="events__slider-img">
              <img src="../images/events-slider-1.webp" alt="Girl make coffee">
            </div>
            <div class="events__slider-content">
              <h5 class="events__slider-subtitle">Upcoming</h5>
              <h4 class="events__slider-title">Coffee Night</h4>
              <div class="events__slider-date">25 september, 2019</div>
              <div class="events__slider-text">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</div>
              <a href="" class="button btn-fill">Book a table</a>
            </div>
          </div>
          <div class="events__arrows slider__arrows">
            <button class="events__arrows-left slider__arrows-left">
              <svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.49 0L8 1.415 3.02 6.002 8 10.585 6.49 12 0 6.002 6.49 0z" fill="#fff"/>
              </svg>
            </button>
            <button class="events__arrows-right slider__arrows-right">
              <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.50933 12L0 10.5855L4.9808 5.998L0 1.4145L1.50933 0L8 5.998L1.50933 12Z" fill="#333333"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>