  <section class="events">
    <div class="container">
      <h3 class="events__subtitle subtitle centered">Party with us!</h3>
      <h2 class="events__title title centered">Upcoming Events</h2>
      <div class="events__slider">
        <div class="events__slider-wrapper">
          <div class="events__slider-item">
            <div class="events__slider-img">
              <img src="../images/events-slider-1.webp" alt="Girl make coffee">
            </div>
            <div class="events__slider-content">
              <h5 class="events__slider-subtitle">Upcoming</h5>
              <h4 class="events__slider-title">Coffee Night</h4>
              <div class="events__slider-date">25 september, 2019</div>
              <div class="events__slider-text">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</div>
              <a href="" class="button btn-fill">Book a table</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>