  <section class="gallery">
    <div class="container">
      <h3 class="gallery__subtitle subtitle centered">Gallery</h3>
      <h2 class="gallery__title title centered">Our Interior</h2>
      <div class="gallery__wrapper">
        <div class="gallery__item"><img src="images/gallery-1.webp" alt="Gallery image 1"></div>
        <div class="gallery__item"><img src="images/gallery-2.webp" alt="Gallery image 2"></div>
        <div class="gallery__item"><img src="images/gallery-3.webp" alt="Gallery image 3"></div>
        <div class="gallery__item"><img src="images/gallery-4.webp" alt="Gallery image 4"></div>
        <div class="gallery__item"><img src="images/gallery-5.webp" alt="Gallery image 5"></div>
        <div class="gallery__item"><img src="images/gallery-6.webp" alt="Gallery image 6"></div>
      </div>
    </div>
  </section>