  <section class="lunch">
    <div class="container">
      <h3 class="lunch__subtitle subtitle centered">Tasty dishes</h3>
      <h2 class="lunch__title title centered">For Lunch</h2>
      <div class="lunch__menu">
        <ul class="lunch__rest-menu restaurant-menu">
          <li class="lunch__rest-item restaurant-menu__item">
            <div class="restaurant-menu__wrapper">
              <div class="restaurant-menu__image">
                <img src="../images/lunch-img.webp" alt="Lunch tile">
              </div>
              <div class="restaurant-menu__content">
                <h4 class="restaurant-menu__item-name">Huitlacoche Tamle</h4>
                <p class="restaurant-menu__item-descr">Served pickled ginger and chopsticks</p>
              </div>
              <div class="restaurant-menu__price">$14.00</div>
            </div>
          </li>
          <li class="lunch__rest-item restaurant-menu__item">
            <div class="restaurant-menu__wrapper">
              <div class="restaurant-menu__image">
                <img src="../images/lunch-img.webp" alt="Lunch tile">
              </div>
              <div class="restaurant-menu__content">
                <h4 class="restaurant-menu__item-name">Mediterranean Salad</h4>
                <p class="restaurant-menu__item-descr">Soy sauce, wasabi, pickled ginger and chopsticks</p>
              </div>
              <div class="restaurant-menu__price">$17.00</div>
            </div>
          </li>
          <li class="lunch__rest-item restaurant-menu__item">
            <div class="restaurant-menu__wrapper">
              <div class="restaurant-menu__image">
                <img src="../images/lunch-img.webp" alt="Lunch tile">
              </div>
              <div class="restaurant-menu__content">
                <h4 class="restaurant-menu__item-name">Creole Tempeh</h4>
                <p class="restaurant-menu__item-descr">Served with soy sauce, wasabi, pickled  chopsticks</p>
              </div>
              <div class="restaurant-menu__price">$19.00</div>
            </div>
          </li>
          <li class="lunch__rest-item restaurant-menu__item">
            <div class="restaurant-menu__wrapper">
              <div class="restaurant-menu__image">
                <img src="../images/lunch-img.webp" alt="Lunch tile">
              </div>
              <div class="restaurant-menu__content">
                <h4 class="restaurant-menu__item-name">Pumpkin Curry</h4>
                <p class="restaurant-menu__item-descr">Sauce, wasabi, pickled ginger and chopsticks</p>
              </div>
              <div class="restaurant-menu__price">$22.00</div>
            </div>
          </li>
          <li class="lunch__rest-item restaurant-menu__item">
            <div class="restaurant-menu__wrapper">
              <div class="restaurant-menu__image">
                <img src="../images/lunch-img.webp" alt="Lunch tile">
              </div>
              <div class="restaurant-menu__content">
                <h4 class="restaurant-menu__item-name">Polenta Nera Cake</h4>
                <p class="restaurant-menu__item-descr">Served with soy sauce, wasabi, pickled ginger</p>
              </div>
              <div class="restaurant-menu__price">$13.00</div>
            </div>
          </li>
          <li class="lunch__rest-item restaurant-menu__item">
            <div class="restaurant-menu__wrapper">
              <div class="restaurant-menu__image">
                <img src="../images/lunch-img.webp" alt="Lunch tile">
              </div>
              <div class="restaurant-menu__content">
                <h4 class="restaurant-menu__item-name">Warm Kipfler Potato</h4>
                <p class="restaurant-menu__item-descr">Wasabi, pickled ginger and chopsticks</p>
              </div>
              <div class="restaurant-menu__price">$24.00</div>
            </div>
          </li>
        </ul>
        <div class="lunch__menu-btn centered">
          <a href="#" class="button btn-fill">Full menu</a>
        </div>
      </div>
    </div>
  </section>