  <section class="press">
    <div class="container">
      <h3 class="press__subtitle subtitle centered">Press</h3>
      <h2 class="press__title title centered">About Us</h2>
      <div class="press__wrapper">
        <div class="press__item">
          <div class="press__item-logo">
            <img src="images/press-logo-1.webp" alt="The New York Times">
          </div>
          <p class="press__item-text">"Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level."</p>
          <div class="press__item-name">The New York Times</div>
        </div>
        <div class="press__item">
          <div class="press__item-logo">
            <img src="images/press-logo-2.webp" alt="The Guardian">
          </div>
          <p class="press__item-text">"Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level."</p>
          <div class="press__item-name">The Guardian</div>
        </div>
        <div class="press__item">
          <div class="press__item-logo">
            <img src="images/press-logo-3.webp" alt="The Wall Street Journal">
          </div>
          <p class="press__item-text">"Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level."</p>
          <div class="press__item-name">The Wall Street Journal</div>
        </div>
      </div>
    </div>
  </section>