<section class="reserve">
  <div class="container">
    <div class="reserve__wrapper">
      <div class="reserve__content">
        <h3 class="reserve__subtitle subtitle">Reserve</h3>
        <h2 class="reserve__title title">A Table</h2>
        <form action="#" class="reserve__form">
          <label for="date">date</label>
          <input type="text" name="date" placeholder="9/26/2019" id="date">
          <label for="time">time</label>
          <div class="select-wrapper">
            <select name="time" id="time" required>
              <option value="" disabled selected hidden>Select time</option>
              <option value="10:00 am">10:00 am</option>
              <option value="11:00 am">11:00 am</option>
              <option value="12:00 am">12:00 pm</option>
              <option value="1:00 pm">1:00 pm</option>
              <option value="2:00 pm">2:00 pm</option>
              <option value="3:00 pm">3:00 pm</option>
              <option value="4:00 pm">4:00 pm</option>
              <option value="5:00 pm">5:00 pm</option>
              <option value="6:00 pm">6:00 pm</option>
              <option value="7:00 pm">7:00 pm</option>
              <option value="9:00 pm">9:00 pm</option>
              <option value="10:00 pm">10:00 pm</option>
            </select>
          </div>
          <label for="guests">guests</label>
          <div class="select-wrapper">
            <select name="guests" id="guests" required>
              <option value="" disabled selected hidden>How many guests?</option>
              <option value="1">1 people</option>
              <option value="2">2 people</option>
              <option value="3">3 people</option>
              <option value="4">4 people</option>
              <option value="5">5 people</option>
              <option value="6">6 people</option>
              <option value="7">7 people</option>
              <option value="8">8 people</option>
              <option value="9">9 people</option>
              <option value="10">10 people</option>
            </select>
          </div>
          <button class="button btn-fill">Find a table</button>
        </form>
      </div>
      <div class="reserve__image">
        <img src="../images/form-image.webp" alt="Photo inside reataurant with dishes">
      </div>
    </div>
  </div>
</section>