  <section class="seasonal">
    <div class="container">
      <div class="seasonal__wrapper">
        <div class="seasonal__content">
          <h3 class="seasonal__subtitle subtitle">Check out our</h3>
          <h2 class="seasonal__title title">Seasonal Offers</h2>
          <ul class="restaurant-menu">
            <li class="restaurant-menu__item">
              <div class="restaurant-menu__wrapper">
                <div class="restaurant-menu__content">
                  <h4 class="restaurant-menu__item-name">Alaskan Fish & Chips</h4>
                  <p class="restaurant-menu__item-descr">Served with soy sauce, wasabi, pickled ginger and chopsticks</p>
                </div>
                <div class="restaurant-menu__price">$14.00</div>
              </div>
            </li>
            <li class="restaurant-menu__item">
              <div class="restaurant-menu__wrapper">
                <div class="restaurant-menu__content">
                  <h4 class="restaurant-menu__item-name">Fishermen’s Basket</h4>
                  <p class="restaurant-menu__item-descr">Snow crab, avocado, cucumber, tobiko, Japanese mayonnaise</p>
                </div>
                <div class="restaurant-menu__price">$7.00</div>
              </div>
            </li>
            <li class="restaurant-menu__item">
              <div class="restaurant-menu__wrapper">
                <div class="restaurant-menu__content">
                  <h4 class="restaurant-menu__item-name">Chicken Breat Saute Sec</h4>
                  <p class="restaurant-menu__item-descr">A Latte is a coffee drink made with espresso and steamed milk</p>
                </div>
                <div class="restaurant-menu__price">$5.00</div>
              </div>
            </li>
            <li class="restaurant-menu__item">
              <div class="restaurant-menu__wrapper">
                <div class="restaurant-menu__content">
                  <h4 class="restaurant-menu__item-name">Crisp Pork Belly</h4>
                  <p class="restaurant-menu__item-descr">Candied salmon, basil potato puree, baby kale marsala</p>
                </div>
                <div class="restaurant-menu__price">$18.00</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="seasonal__image">
          <img src="../images/seasonal-img.webp" alt="Seasonal food">
        </div>
      </div>
    </div>
  </section>